.App {
  /*text-align: center;*/
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;  
  font-size: calc(2px + 2vmin);
  background-color: azure;
}
/*code for the topp nav */
/* Bgimahood Copyright 2021 */

.top_bar {
  background-color: rgb(12, 176, 226);
  padding: 10px 20px;
  color: white;
  text-align: left;
}
.top_bar li{
  display: inline;
  list-style: none;
  border: none;
  padding: 7px 14px;
  cursor: pointer;
  border-radius: 7px;
}
.top_bar li:hover {
  border-bottom: 3px solid white;
  cursor: pointer;
  transition: all 0.2s ease;
}
.top_bar .online_appli{
   padding: 5px 10px;
   float: right;
   border-radius: 15px;
   color: white;
   background-color: rgb(16, 148, 38);
  font-size: calc(2px + 1.4vmin);
  border: 1.5px solid rgb(255, 255, 255);
}
.top_bar .online_appli:hover {
  cursor: pointer;
  background-color: black;
}
.hd1 {
  height: 2px;
  border: none;
  background-color: rgb(0, 0, 0);
  margin: 0;
}
.hd2 {
  height: 2px;
  border: none;
  background-color: yellow;
  margin: 0;
}
.hd3 {
  height: 2px;
  border: none;
  background-color: rgb(255, 16, 16);
  margin: 0;
}
.logo_core {
  width: 100%;
  height: auto;
}

/* code for the middle content */
.addres1 {
  width: 70%;
}
.addres1 td:nth-child(odd){
  width: 20%;
}
.addres1 td:nth-child(even){
  width: 80%;
}
.addres1 h1 {
  margin: 0;
}
.img_slider {
  position: relative;
  text-align: center;
  height: 450px;
  width: 100%;
  animation-name: imgSlide;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate-reverse;
}
@keyframes imgSlide {
  0% { background-image: url('./Pics/IMG-20211113-WA0027.jpg');}
  25% { background-image: url('./Pics/IMG_20211209_092534.jpg');}
  50% { background-image: url('./Pics/IMG_20211209_092557.jpg');}
  75% { background-image: url('./Pics/IMG_20211209_092632.jpg');}
  100% { background-image: url('./Pics/IMG_20211209_092621.jpg');}  
}
.img_slide_content .logob {
  width: 20%;
  height: auto;
}
.img_slide_content {
  text-align: center;
  width: 70%;
  background: rgba(255, 253, 253, 0.747);
  position:absolute;
  color: rgb(32, 137, 185);
  border-radius: 15px;
  left: 10%;
  top: 5%;
  padding: 15px;
  box-shadow: 2px 2px 14px black;
}
.img_slide_content h2 {
  margin: 0;
  
}
.img_slide_content h4 {
  margin: 0;
  color: rgba(32, 136, 185, 0.685);
}
.border_g {
  height: 2px;
  background-color: rgb(144, 148, 151);
  border: none;
}
.cont_data {
  margin: 0 10% 0 10%;
}
.cont_data .rightY {
  width: 20%;
  top: 6%;
  right: 1%;
  display: inline-table;
}
.r_updates { 
  font-family: Arial, Helvetica, sans-serif;
  width: 30%;
  font-size:  13px;
  line-height: 20px;  
  display: inline-table;
  padding: 12px;
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  border: 2px solid rgba(31, 29, 29, 0.616);
}
.r_updates .post_img {
  width: calc(180px + 9vmin); 
  margin: 0;
  height: auto;

}
.cont_data .updatesy {
  text-align: center;
  font-family: Arial;
}
.cont_data .butY {
  border: none;
  margin: 4px;
  border-radius: 30px;
  padding: 5px 10px;
  cursor: pointer;
  background-color: rgb(13, 125, 177);
  color: white;
}
/* this is code for the administrators section(cards) */
.cards{
  margin: 70px auto;
}
.iconProfile {
  height: 150px;
  width: auto;
  border-radius: 50%;
}
.adminHold {
  text-align: center;
}
.admD {
  margin: 0 5%;
  border-radius: 15px;
}
.admD ul li{
  text-decoration: none;
  display: inline-table;
  width: 30%;
  background-image:linear-gradient(to bottom, rgb(74, 158, 179), rgb(248, 248, 241));
  border: 1px solid rgb(21, 128, 199);
  margin: 10px;
  border-radius: 15px;
  font-size: 15px;
  padding-top: 20px;
}
.admD ul li .abou {
  color: rgb(88, 88, 88);
  background-color: #ffffff;
  padding: 5px 0;
  border-top: 1px solid rgb(21, 128, 199);
  border-bottom: 1px solid rgb(21, 128, 199);
}
.view_button {
  border-radius: 15px;
  border: none;
  padding: 5px 10px;
  background-color: rgb(21, 128, 199);
  color: #ffffff;
  cursor: pointer;
  margin: 50px auto;
}
/* code for the footer region */
.down_data {
  background-color: rgb(12, 176, 226);
  color: white;
  font-size: calc(5px + 1.5vmin);
  padding: 20px 10px 5px 10px;
  text-align: center;
}